
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;  /* disable scroll */
    
}

#ratio-container {
    max-width: 1000px;
}

header {
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1; /* set z-index so it will be behind other elements */
    object-fit: cover;
}

#logo {
    max-width: 70vw;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -6vh;
}


.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* height: 100%; */
    max-width: 74vw;
    
}

#receiptGen img {
    margin-top: 2vh;
    width: 70vw;
}
  
.icon-container .icon {
    max-width: 37vw;
}



a {
    color: white; /* 부모 요소의 텍스트 색상 상속 */
    text-decoration: none; /* 밑줄 제거 */
    margin-bottom: 10px;
}